@import url("base.css");


/* CV Section */

.cv-section {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.cv-section-wrapper {
    position: relative;
    overflow: hidden;
    /* Set a specific height or min-height if needed */
    min-height: 300px;
    /* Adjust the value according to your layout */
    font-family: var(--primary-font);
    /* If --primary-font is defined and you want to use it */
    color: #fff;
    /* Or any color you prefer for the text in the CV section */
}

.cv-section #container {
    position: relative;
    overflow: hidden;
    position: relative;
}

.cv-section #timeline-marker-left {
    position: fixed;
    top: 50%;
    right: calc(50% + 1em);
    transform: translateY(-50%);
    z-index: 0;
    color: #F5F3F5;
}

.cv-section #timeline-marker-right {
    position: fixed;
    top: 50%;
    visibility: hidden;
    left: 5.5em;
    transform: translateY(-50%);
    z-index: 0;
    color: #F5F3F5;
}

.cv-section #timeline {
    position: relative;
    height: fit-content;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.cv-section #currentTime {
    position: fixed;
    top: 50%;
    right: calc(50% + 2em);
    /* Using em for responsive design */
    transform: translateY(-50%);
    z-index: 0;
    text-align: right;
    color: #F5F3F5;
    /* To ensure it is above other elements */
}

.cv-project {
    position: absolute;
    width: 10em;
    /* Using em for responsive design */
    height: 3em;
    /* Using em for responsive design */
    line-height: 3em;
    /* Using em for responsive design */
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}