@import url("base.css");


/* List Design */

/* Reset default list styles */
ul {
    list-style: none;
    padding: 0;
}

/* Style the list container */
.list-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: visible;
    list-style-type: disc;
}

/* Style each list item */
.list-item {
    color: var(--primary-color);
    font-size: large;
    padding: 5px;
    margin: 5px;
    width: fit-content;
    text-align: left;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.3s, opacity 0.3s;
    overflow: visible;
}

.list-item {
    opacity: 0;
    animation: none;
    /* Starts items with no animation */
}

.list-item.animated {
    /* This is removed and re-added in the projectdetails.js to reset the animation, an animation delay gets added as well */
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Add styles for the sub-list */
.sub-list {
    margin-left: 20px;
    margin-right: 20px;
    list-style-type: circle;
}

/* Style each list item */
.sub-list-item {
    font-size: medium;
    color: var(--secondary-color);
    padding: 5px;
    margin: 5px;
    width: fit-content;
    text-align: left;
    transform: scale(1, 1);
    opacity: 1;
    overflow: visible;
}

/* Style the link within the list item */
.list-item a {
    color: #007bff;
    /* Change the link text color */
    text-decoration: none;
    /* Remove underline */
    font-weight: bold;
    /* Make the text bold */
    transition: color 0.3s ease;
    /* Add color transition on hover */
}

/* Change link color on hover */
.list-item a:hover {
    background-color: #e8e8e8;
    color: #333;
}