@import url("base.css");

/* Portfolio Section */
#portfolio {
    padding: 100px 0;
    perspective: 1000px;
    overflow: hidden;
}

#portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
    text-align: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.portfolio-item {
    background-image: linear-gradient(rgba(33, 27, 39, 0.4), rgba(100, 111, 154, 0.233));
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: var(--secondary-color);
    transition: transform 0.3s ease-out, background-image 0.3s ease-out;
}

.portfolio-item:hover {
    z-index: 1;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.portfolio-item h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}